{% extends 'base.html' %}
{% block title %}Experience Dubai{% endblock title %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
 <br>     <h3 class="float-md-start mb-0">Dubai, United Arab Emirates</h3> 
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <p></p>
        <p><a class="btn btn-danger" href='/stay20'>Book Now »</a></p>
      </nav>
    </div>
  </header>

  <main class="px-1">
 <br>   <h1>Premium Dubai Desert Safari.</h1>
    <p class="lead"><br>Experience an unparalleled adventure over the sun-kissed red sand dunes in a 4x4 Toyota Land Cruiser vehicle followed by a magical evening in a traditional Bedouin camp.
As you leave the busy city behind, you will be enthralled by the gigantic sand dunes which form the Arabian Desert. After some dune-bashing and exquisite sunset views, you will be treated to a lavish spread of authentic Arabic fare in a traditional camp, where you can indulge in activities such as sand boarding, henna painting, camel rides and local attire trial. You will be entertained by belly dancers and folk dancers as you sit back and relax with an aromatic shisha under the star-lit skies.
</p>
<br>    <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="static/dxb.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Jumeirah Beach is one of the most popular and most visited public beaches in Dubai. The white sandy beach stretches along the coastal area of the city and has many large resorts and hotels close to its frontage area. Jumeirah Beach has been named after Jumeirah district from where the beach originates..</p>
        <br>      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="static/dxb1.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Desert safari Dubai is a combo of pure Arabian adventure and Bedouin-style entertainment. Desert safari is considered one of the top attractions in the United Arab Emirates. This tour overflows with jaw-dropping adventure and energizing fun-filled moments in the Arabian desert.</p>
       <br>       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="static/dxb2.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Chelo Kebab. Aromatic saffron-scented basmati rice served with a pat of butter on kebabs – Chelo Kebab is another name in the list of mouthwatering Dubai famous foods. You must try this scrumptious non-vegetarian Dubai dishes. It is said to be out of the world and exceptionally tasty. Must try: Spiked with sour zereshk berries or fragrant dill Price Range: INR 500.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
   <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}