{% extends 'base.html' %}
{% block title %}Experience Greece{% endblock title %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
<br>    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Athens, Greece</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
       <p></p>
        <p><a class="btn btn-danger" href='/stay23'>Book Now »</a></p>
      </nav>
    </div>
  </header>

  <main class="px-1">
<br>    <h1>A day to Delphi Oracle & Parnassus.</h1>
    <p class="lead"> <br>We will start from the center of Athens and take about 2 hours to reach the Delphi oracle. On our way, we will pass important points of interest: Battlefield of Plataea and Marathon, the place where Oedipus met and killed his father, according to legend and great ancient cities such as Thebes and Thespies. After our visit to the archaeological site of Delphi and the museum, we will eat at an amazing restaurant in the village of Delphi, overlooking the Delphi valley and their ancient harbor.
Afterwards we will head higher up Mount Parnassos (1350 meters) and pass through beautiful mountain peaks. There is the Korikeion Andron, the Pan Cave and the first oracle in the area. Going down the other side of the mountain, we will visit the ancient city of Lilia, where the source of the river Kifissos (one of the two rivers of ancient Athens) is located. There are also 2 ancient temples (Apollo and Artemis), and there are also strange signs of the Knight Templars.
Our final destination will be the battlefield of the 300 Spartans and King Leonidas against the Persians. The place that became one of the most important battles in World History.
Other things to note
Delphi Oracle is mostly uphills and rocks!

</p>
<br>    <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="static/gr.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Delphi, in legend previously called Pytho, in ancient times was a sacred precinct that served as the seat of Pythia, the major oracle who was consulted about important decisions throughout the ancient classical world. The oracle was international in character and also fostered sentiments of Greek nationality, even though the nation of Greece was centuries away from realization .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="static/mtp.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Mount Parnassus is a mountain of limestone in central Greece that towers above Delphi, north of the Gulf of Corinth. It has offered many advantages to the population of Greece. In peace it presents scenic views of the surrounding olive groves and rolling countryside, as well as being the location of sites of historical and archaeological value, such as Delphi.</p>
             <br> <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="static/grroad.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">In Athens, which generally has mild winters, during these short periods the weather becomes cold and rainy, and during the most intense cold waves it can even snow. <br>On the islands, during winter the wind often blows; precipitation often occurs at night and in the early morning.</p>
  <br><br>            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}