{% block body %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Become a Host</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IdealStay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
<a class="btn btn-primary btn btn-dark" href="/contact" role="button">Contact Us</a>
    </div>
  </div>
</nav>
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/77.jpg');
    height: 50vh;
  "
></div>
<!-- Background image -->
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Fill your space’s downtime</h1>
        <p class="col-md-8 fs-4">Everyone needs place to meet,create and celebrate. Get your space in front of the most people searching for spaces like yours today.</p>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom text-center"><b>How Hosting Works</b></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>1. List your Space!</h2>
        <p>List your space at your convience then your space could be viewed by millions.</p>
      </div>
      <div class="feature col">
        <h2>2. Welcome your Guests!</h2>
        <p>Accept the bookings made by the guests.Once confirmed,your guests receive detailed information about the space. </p>
      </div>
      <div class="feature col">
        <h2>3. Get Paid on Time!</h2>
        <p>Your payout is deposited immediately after the guests checkout.</p>
      </div>
    </div>
  </div>


<a class="btn btn-primary btn btn-dark" href="/hostus" role="button">Try Hosting!</a>
      </div>
    </div>
  
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by IdealStay Team &copy;2021 </p>
  </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock body %}