{% extends 'base.html' %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
  <br>    <h3 class="float-md-start mb-0">Rotorua,New Zealand</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <p></p>
        <p><a class="btn btn-danger" href='/stay21'>Book Now »</a></p>
      </nav>
    </div>
  </header>

  <main class="px-1">
  <br>  <h1>Sheep Farm Tour & hand-spun Woolly hat.</h1>
<br>    <p class="lead">When you arrive o on our beautiful farm and meet our friendly, naturally coloured Corriedale sheep & lambs. Followed by an explanation of how wool is shorn from the sheep, skirted, washed & dried. Next, guests will select their choice of wool, alpaca, lama and other fibres to card into large batts of fibre that are ready to process by spinning them into wool.
After a spinning demonstration, guests will be able to practise spinning the fibre into their own ball of wool to take with them. If time allows they can try knitting or weaving and have a short walk around the farm to meet the other animals. This experience is suitable for beginners with no previous experience needed. Children can attend, just advise the age of the child, as I'll organise a child friendly wool activity for them.
I'd like to make sure you have fun, relaxing & unique experience that you will always remember. The scenery is spectacular and I am happy to take photos of you around the farm and with the animals.
You can even select your own farm made hat as a free souvenir. Each hat is handcrafted, organically processed and shorn from our own sheeps wool, hand made and over 20 hours of work in each one. Come and learn how your hat was crafted - eco -slow fashion just for you.
</p>
 <br>   <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="static/nzbay.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> The Bay of Islands north of Auckland has beautiful beaches and scenery. You may need to goggle beach resorts Northland NZ to find the type of accommodation that would suit you best.

Another consideration would be Lake Taupo in the central North Island..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="static/nzlamb.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">New Zealand's favourite food and drinks Kiwis love New Zealand seafood, green-lipped mussels and roast lamb. As well as a good pavlova with kiwifruit and strawberries. Add some of our favourite Kiwi food and drinks to your list of foods to try when you're in New Zealand.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="static/nzwool.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Experience the "cutest sheep in the world" when you visit this farm in Cambridge, New Zealand. Valais Blacknose Sheep are very friendly and affectionate and visitors are able to interact with them in the paddock. Lamb Feeding is availalbe at set times in..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by the IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}
