{% extends 'base.html' %}
{% block title %}Experience Portugal{% endblock title %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
<br>      <h3 class="float-md-start mb-0">Lisbon, Portugal</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <p></p>
        <p><a class="btn btn-danger" href='/stay22'>Book Now »</a></p>
      </nav>
    </div>
  </header>

  <main class="px-1">
<br>    <h1>All-Inclusive: The Natural Adventure.</h1>
<br>   <p class="lead">We start with a pick-up at Lisbon Zoo and head south to Arrabida’s Natural Park, where we stop by my family's farm house to suit up, grab all the food and amenities to make sure we are always good, warm and refreshed and have a snack/coffee before driving to the beach.
We head over to Portinho’s Bay Creiro Beach, an old pirate bay full of incredible secrets, and our adventure begins!
We kayak along the beautiful blue coast to several caves, a unique place with old legends and great cliffs, we go for some dives and a stop for snacks and drinks so we can recharge our energy.
We find amazing caves naturally lit with magical “moon doors”, a zoological marine reserve island where we snorkel with thousands of fish and look for starfish in the cristal clear waters.
After all the workout, lunch back at the beach, a picnic full of goodies as we definitely “earned it”.
Afterwards we drive back to my parent’s farm and reach the highest points of Arrabida mountain for some breathtaking panoramic views and pictures.
In the evening we will be enjoying homemade port wine and grape juice by the pool to an astonishing view over the Valleys and Hills..
</p>
 <br>   <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="static/prnature.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Portugal Nature Trails is a local adventure and nature tourism company. We welcome travelers from all over the world and set out to offer the most breathtaking hiking and cycling outdoor adventure tours in Portugal.

Experience your journey, challenge yourself and discover the best dimension of your life. Explore the wildest and most preserved regions of Portugal while tasting the best local food and wine..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="static/kay.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"><br> Board your sailboat at the Doca do Bom Sucesso Marina. Sail down the Tagus river and pass by the Monument of Discoveries underneath the 25 de Abril Bridge.<br> Continue onto the river Tejo and admire Lisbon's many different architectural styles.
</p>
   <br>           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/porfood.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">In the North of Portugal, the food is typically heavy – it’s farmer’s food, like Feijoada, Cozido and different kinds of sausages. By the coast, fish and seafood are predominant so you’ll see plenty of grilled Sardines, clamshells, and octopus. Some of the typical dishes of the south of Portugal are Açorda, Sopa da Pedra, and Xarém.</p>
     <br>         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by the IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}