{% extends 'base.html' %}
{% block title %}Experience Switzerland{% endblock title %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
  <br>
    <div>
      <h3 class="float-md-start mb-0">Interlaken, Switzerland</h3> 
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <p></p>
        <p><a class="btn btn-danger" href='/stay24'>Book Now »</a></p>
      </nav>
    </div>
  </header>
 <br>
  <main class="px-1">
    <h1>Private Boat tour on a Swiss lake.</h1>
  <br>   <p class="lead">Our tour starts at the pier of Neuhaus/Interlaken which is located on the beautiful shore of lake Thun.
We will start the boat ride towards the St. Beatus Swiss caves and have a view on the waterfalls. Afterwards we will cruise on the lake and head in direction of the hilly vineyards of Spiez. Once we have cruised along the Spiez Harbour, we will head in direction of Merligen to have a view on the Justistal and the Niederhorn mountain.
For those of you who feel a bit more adventurous, you will have the opportunity to have a swim in the refreshing deep blue lake of Thun.
The tour finishes by returning to our departure point
</p>
  <br>   <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="/static/sw.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Tiny, multilingual Switzerland packs a lot into its landlocked borders: glittering lakes, sky-high peaks, postcard-perfect villages, world-class museums.
<br>The weather offers four seasons that effectively change the landscape.<br><br></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="/static/Neuhaus.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Neuhaus is a wonderfully tranquil place on the shores of Lake Thun, not far from Interlaken. At any time of year, drink in stunning sunsets and feel your cares melt away. The large green spaces become sunbathing lawns in the summer, with tall trees providing shade. Neuhaus is a popular destination for fun, games and relaxation.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/23.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Foods often associated with Switzerland include particular types of cheese and milk chocolate. Swiss cheeses, in particular Emmental cheese, Gruyère, Vacherin, and Appenzeller, are famous Swiss products. The most popular cheese dishes are fondue and raclette.</p>
         <br>     <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by the IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}