{% extends 'base.html' %}
{% block title %}Experience Turkey{% endblock title %}
{% block body %} 
<div class="container>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
    <br>
      <h3 class="float-md-start mb-0">Istanbul, Turkey</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
       <p></p>
    <br>    <p><a class="btn btn-danger" href='/stay19'>Book Now »</a></p>
      </nav>
    </div>
  </header>
<br>
  <main class="px-1">
    <h1>Traditional Dinner & Dervish Experience.</h1>
 <br>   <p class="lead">It is our passion to meet with new people and show our local culture. Come and join us! You will take a break from the touristic spots.
Discover local areas & watch the dervish performance in a very HISTORIC place. Unlimited Dinner with more than 10 different types of food (soup, kebab, meze, dessert etc.)
Price includes all the extras mentioned below, you will not have to pay any extras.
- Meet in front of Spice Bazaar at 7 pm.
- Try a very local Turkish dessert on the way to the performance area.
- Short walk to the Dervish experience 
- Watch the amazing Dervish experience and feel the Rumi spirit (This performance is around 60 minutes)
- Take a taxi to a very local kebab restaurant
- Taste the wonderful Turkish food 
- Finalize the dinner with tea, special Kurdish Coffee and traditional dessert Künefe.
It will be a very unique experience that you will never forget.
</p>
<br>    <p class="lead">
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="static/trkebab.jpg" class="d-block w-100" alt="..." >
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Turkey is the country that introduced the world with the skewered meat or kebabs. So, if you wish to savour traditional Turkish food, then do taste this scrumptious dish. It is another popular street food in Turkey that you won’t have enough of on your trip to Turkey in December. Must Try: With yogurt..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
             <img src="static/trbread1.jpg" class="d-block w-100" alt="..." >
            <div class="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;"> Turkey’s most popular bread is the pointy-tipped, boat-shaped regular loaf, with its distinctive slash down the centre. This traditional, airy white bread is available in every bakery, local mini-market and shop throughout Turkey, and the government sets its price. Slices of somun bread are enjoyed in homes</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/trbar1.jpg" class="d-block w-100" alt="...">
            <div class ="card-body">
              <p class="card-text" _msthash="1893060" _msttexthash="9003631" style="direction: ltr; text-align: left;">Turkish wines and grape varieties, as well as the best places to drink in Istanbul. A glass of Turkish rakı. The Rakı is the Turkish national alcohol, it is aniseed-flavored alcohol of 40-45 degrees similar to Pastis or Ouzo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3281356" _msttexthash="49738" style="direction: ltr;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3282344" _msttexthash="162188" style="direction: ltr;">
                </div>
                <small class="text-muted" _msthash="2671851" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Created by the IdealStay Team &copy;2021 </p>
  </footer>
</div> 
</body>
{% endblock body %}

